* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
  position: relative;
  padding-bottom: 58px;
  min-height: 100vh; }
  body button {
    outline: 0; }

#opciones {
  display: flex;
  justify-content: center;
  width: 420px;
  height: 200px;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-top: 200px; }
  #opciones h2 {
    color: #046604;
    width: 500px; }
  #opciones button {
    margin: 10px;
    margin-left: -5px;
    width: 300px;
    background-color: #cbf7cb;
    border-color: #95df95;
    color: green;
    border-radius: 10px;
    font-size: 28px;
    font-weight: 500; }
  #opciones button:hover {
    margin: 10px;
    margin-left: -5px;
    width: 300px;
    background-color: #1d7015;
    color: #cbf7cb;
    border-radius: 10px;
    border-color: #cbf7cb;
    font-size: 28px;
    font-weight: 500;
    cursor: pointer; }
  #opciones button:active {
    outline: none; }

header {
  text-align: center;
  background-color: #333;
  color: #e4a111;
  padding: 10px; }
  header h1 {
    font-size: 48px;
    margin-bottom: 10px; }

main {
  width: 90vw;
  margin: 0 auto;
  padding: 30px 20px; }
  main #containerMenu {
    display: flex;
    justify-content: space-between; }
    main #containerMenu p {
      color: #1d7015; }
    main #containerMenu a {
      text-decoration: none; }
    main #containerMenu input, main #containerMenu button {
      border-radius: 4px;
      border: 1.5px solid #1d7015; }
    main #containerMenu button {
      background-color: #cbf7cb;
      border-color: #95df95;
      color: green;
      border-radius: 4px; }
    main #containerMenu button:hover {
      background-color: #1d7015;
      color: #cbf7cb;
      border-color: #cbf7cb;
      cursor: pointer; }
    main #containerMenu button:active {
      outline: none; }
  main #containerTienda .abierto {
    display: block;
    cursor: pointer; }
  main #containerTienda .cerrado {
    display: none; }
  main #containerTienda #formulario {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr; }
    main #containerTienda #formulario input {
      margin-left: -50px;
      margin-bottom: 7px;
      width: 100%; }
  main #containerTienda #containerBoton {
    display: flex;
    justify-content: flex-end; }
    main #containerTienda #containerBoton button {
      background-color: #cbf7cb;
      border-color: #95df95;
      color: green;
      border-radius: 4px; }
    main #containerTienda #containerBoton button:hover {
      background-color: #1d7015;
      color: #cbf7cb;
      border-color: #cbf7cb;
      cursor: pointer; }
    main #containerTienda #containerBoton button:active {
      outline: none; }
  main #containerTienda .tienda {
    box-shadow: 9px 10px 12px -4px rgba(0, 0, 0, 0.68);
    border: 2px solid;
    border-color: #7dce7d;
    border-radius: 8px;
    margin: 10px;
    padding: 10px; }
    main #containerTienda .tienda h2 {
      color: #1d7015; }
    main #containerTienda .tienda > * {
      margin: 7px; }

footer {
  text-align: center;
  background-color: #333;
  color: #e4a111;
  padding: 20px;
  position: absolute;
  bottom: 0;
  width: 100%; }

.loader {
  width: 50px;
  height: 50px;
  animation: loader 1.5s linear infinite; }

@media (max-width: 768px) {
  header {
    padding: 30px 20px; }
  header h1 {
    font-size: 36px;
    margin-bottom: 22px; }
  header p {
    font-size: 18px; }
  main {
    width: 100vw;
    padding: 20px; } }

@keyframes loader {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
